__pycache__/
*.pyc
*.pyo
*.pyd

env/
venv/
.venv/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

.vscode/
.idea/

build/
dist/
*.egg-info/
.eggs/

ml_fraud_detection.egg-info/

.git/
.gitignore
docker-compose.yml

*.log
logs/

mlruns/
model_registry/
notebooks/

data/
datasets/
TODO.txt

!models/
!models/*.pkl
!models/*.pt
!models/*.bin
!models/*.joblib

!api/
!app/
!ml_fraud_detection/

!requirements.txt
!pyproject.toml
!uv.lock
